.FormMessage-p {
    border: 0;
    outline: none;
    flex-basis: 90%;
    width: 90%;
    /*align-self: center;*/
    font-size: 3vh;
    word-wrap: break-word; 
    margin: 1vh;
}

.FormMessage-p.left {
    text-align: left;
    margin-left: 1vh;
}

.FormMessage-p.right {
    text-align: right;
    margin-right: 1vh;
}

.FormMessage-time {
    align-self: flex-end;
    text-align: right;
    flex-basis: 10%;
    width: 25%;
    font-size: 1.5vh;
    color: black;
    margin-right: 1vh; 
}

.FormMessage-download {
    align-self: flex-end;
    text-align: right;
    flex-basis: 10%;
    width: 25%;
    font-size: 1.5vh;
    color: black;
    margin-right: 1vh; 
}

.FormMessage {
    display: flex;
    flex-flow: column;
    /*flex-basis: 100%;*/
    width: min-content;
    min-width: 30%;
    max-width: 80%;
    justify-content: space-around;
    /*min-height: 0%;*/
    min-height: min-content;
    /*display: inline-block;*/

    font-size: 3vh;
    border-radius: 10px;
    margin: 1%;
}

.FormMessage.right {
    align-items: flex-end;
    align-self: flex-end;
    background: #f3e5f5;
}

.FormMessage.left {
    align-items: flex-start;
    align-self: flex-start;
    background: #ffffff;
}
