.MessageInput {
    display: flex;
    flex-flow: row;
    height: 10vh;
    justify-content: space-between;
    align-items: stretch;
    background: #f0f0f0;
}

.MessageInput-attachButton {
    flex-basis: 15%;
    background: white;
    font-size: 3vh
}

.MessageInput-fileInput {
	display:none;
}

